<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>港</string>
	<string>澳</string>
	<string>学</string>
	<string>警</string>
	<string>领</string>
	<string>1</string>
	<string>2</string>
	<string>3</string>
	<string>4</string>
	<string>5</string>
	<string>6</string>
	<string>7</string>
	<string>8</string>
	<string>9</string>
	<string>0</string>
	<string>Q</string>
	<string>W</string>
	<string>E</string>
	<string>R</string>
	<string>T</string>
	<string>Y</string>
	<string>U</string>
	<string>I</string>
	<string>O</string>
	<string>P</string>
	<string>A</string>
	<string>S</string>
	<string>D</string>
	<string>F</string>
	<string>G</string>
	<string>H</string>
	<string>J</string>
	<string>K</string>
	<string>L</string>
	<string>Z</string>
	<string>X</string>
	<string>C</string>
	<string>V</string>
	<string>B</string>
	<string>N</string>
	<string>M</string>
</array>
</plist>
